@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>Booking</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new { @class="text-danger"})
        <div class="form-group">

        </div>
    </div>
}
