@model FindProperty.Models.Property

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Agent> agents = (List<Agent>)ViewData["Agents"];
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="imagePath" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fee" class="control-label"></label>
                <input asp-for="fee" class="form-control" />
                <span asp-validation-for="fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="size" class="control-label"></label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="furnishing" class="control-label"></label>
                <select asp-for="furnishing" class="form-control">
                    <option value="">Select a Furnishing Type</option>
                    <option value="Partially Furnised">Partially Furnished</option>
                    <option value="Fullt Furnished">Fully Furnished</option>
                </select>
                <span asp-validation-for="furnishing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AgentId" class="control-label"></label>
                <select asp-for="AgentId" class="form-control">
                    <option selected value="">Select an agent</option>
                    @foreach (var agent in agents)
                    {
                        <option value="@agent.AgentId">@agent.name</option>
                    }
                </select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="imagePath" class="control-label"></label>
                <input class="form-control" type="file" name="images" multiple accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
